{% load static %}

<section class="scrollable padder-lg w-f-md" id="bjax-target">
        <a
            href="##"
            class="pull-right text-muted m-t-lg" data-toggle="class:fa-spin"><i
            class="icon-refresh i-lg inline" onclick="meta.index.remove();meta.index='';getPage('index')" id="refresh"></i></a>
        <h2 class="font-thin m-b">Discover <span class="musicbar animate inline m-l-sm"
                                                 style="width:20px;height:20px"> <span
                class="bar1 a1 bg-primary lter"></span> <span class="bar2 a2 bg-info lt"></span> <span
                class="bar3 a3 bg-success"></span> <span
                class="bar4 a4 bg-warning dk"></span> <span
                class="bar5 a5 bg-danger dker"></span> </span></h2>
        <div style="height:7cm" class="scrollable row row-sm" id="albumContainer" >

          {% for a in album %}

            <div onclick=getAlbum({{a.pk}}) pk={{a.pk}} class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="bottom"><span
                                class="badge bg-info m-l-sm m-b-sm">03:20</span></div>
                        <div class="item-overlay opacity r r-2x bg-black">
                            <div class="text-info padder m-t-sm text-sm"><i
                                    class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                    class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                    class="fa fa-star-o text-muted"></i></div>
                            <div class="center text-center m-t-n"><i pk={{ a.pk }}
                                    class="icon-control-play i-2x"></i></div>
                            <div class="bottom padder m-b-sm"><a
                                    href="##"
                                    class="pull-right"> <i class="fa fa-heart-o"></i> </a> <a
                                    href="##"> <i
                                    class="fa fa-plus-circle"></i> </a></div>
                        </div>
                        <a href="##"><img
                                src={{ a.pic }} alt=""
                                class="r r-2x img-full"></a></div>
                    <div class="padder-v"><a href="##"
                                             class="text-ellipsis">{{ a.name }}</a> <a
                            href="##"
                            class="text-ellipsis text-xs text-muted">{{ a.author }}</a></div>
                </div>
            </div>

            {% endfor %}

        </div>
        <div class="row">
            <div class="col-md-7"><h3 class="font-thin">New Songs</h3>
                <div style="height:12cm" class="scrollable row row-sm " id="indexNewSongContainer" >

                    {% for s in newSong %}
                    <div draggable="true" ondragstart="dragstart_handler(event);" pk={{s.pk}} name="{{s.name}}" pic="{{s.pic}}" class="col-xs-6 col-sm-3">
                        <div class="item">
                            <div class="pos-rlt">
                                <div class="item-overlay opacity r r-2x bg-black">
                                    <div class="center text-center m-t-n"><a
                                            href="##">
                                            <i pk={{ s.pk }} onclick="playNow({{s.pk}})" class="fa fa-play-circle i-2x"></i></a></div>
                                </div>
                                <a href="#"><img 
                                        src={{ s.pic }} alt=""
                                        class="r r-2x img-full"></a></div>
                            <div class="padder-v"><a
                                    href="#"
                                    class="text-ellipsis">{{s.name}}</a> <a
                                    href="#"
                                    class="text-ellipsis text-xs text-muted">{{s.author}}</a></div>
                        </div>
                    </div>
                    {% endfor %}
     
                </div>
            </div>
            <div class="col-md-5"><h3 class="font-thin">Top Songs</h3>
                <div style="height:12cm" class="scrollable list-group bg-white list-group-lg no-bg auto">
                    
                    {% for t in top %}
                    <a onclick="playNow({{t.pk}})" pk={{ t.pk }} name="{{t.name}}" pic="{{t.pic}}"
                        href="#"
                        class="list-group-item clearfix"> <span
                        class="pull-right h2 text-muted m-l">{{ forloop.counter }}</span> <span
                        class="pull-left thumb-sm avatar m-r"> <img
                        src="{{ t.pic }}" alt="..."> </span> <span
                        class="clear"> <span>{{ t.name }}</span> <small
                        class="text-muted clear text-ellipsis">by {{ t.author }}</small> </span> 
                    </a>

                    {% endfor %}
                
                </div>
            </div>
        </div>
        <!--div class="row m-t-lg m-b-lg">
            <div class="col-sm-6">
                <div class="bg-primary wrapper-md r"><a
                        href="##"> <span
                        class="h4 m-b-xs block"><i class=" icon-user-follow i-lg"></i> Login or Create account</span>
                    <span class="text-muted">Save and share your playlist with your friends when you log in or create an account.</span>
                </a></div>
            </div>
            <div class="col-sm-6">
                <div class="bg-black wrapper-md r"><a
                        href="##"> <span
                        class="h4 m-b-xs block"><i class="icon-cloud-download i-lg"></i> Download our app</span>
                    <span class="text-muted">Get the apps for desktop and mobile to start listening music at anywhere and anytime.</span>
                </a></div>
            </div>
        </div-->
    </section>
    <script type="text/javascript" src="{% static 'assets/index.js' %}"></script>
