{% load static %}

<section class="w-f-md">
        <section class="hbox stretch bg-black dker">
                <!-- side content -->
                <aside class="col-sm-5 no-padder" >
                        <section class="vbox animated fadeInUp">
                                <section class="scrollable" id="albumContainer" >
                                        <div id="songAlbumHeader" class="m-t-n-xxs item pos-rlt">
                                                <div class="top text-right"> <span
                                                                class="musicbar animate bg-success bg-empty inline m-r-lg m-t"
                                                                style="width:25px;height:30px"> <span
                                                                        class="bar1 a3 lter"></span> <span
                                                                        class="bar2 a5 lt"></span> <span
                                                                        class="bar3 a1 bg"></span> <span
                                                                        class="bar4 a4 dk"></span> <span
                                                                        class="bar5 a2 dker"></span> </span> </div>
                                                <div class="bottom gd bg-info wrapper-lg"> <span
                                                                class="pull-right text-sm">101,400
                                                                <br>Followers</span> <span class="h2 font-thin">Soph
                                                                Ashe</span> </div>
                                                 <img class="img-full"
                                                        src="../static/default_song.png" alt="..." style="width: 35%;">
                                        </div>
                                        <ul  id="albumSongContainer"
                                                class="list-group list-group-lg no-radius no-border no-bg m-t-n-xxs m-b-none auto">

                                                {% for a in album %}
                                                <li draggable="true" ondragstart="dragstart_handler(event);" pk={{a.pk}} name="{{a.name}}" pic="{{a.pic}}" onclick=playNow({{a.pk}}) class="list-group-item">
                                                        <div class="pull-right m-l"> <a href="#" class="m-r-sm"><i
                                                                                class="icon-cloud-download"></i></a> <a
                                                                        href="#" class="m-r-sm"><i
                                                                                class="icon-plus"></i></a> <a
                                                                        href="#"><i class="icon-close"></i></a> </div>
                                                        <a href="#" class="jp-play-me m-r-sm pull-left"> <i
                                                                        class="icon-control-play text"></i> <i
                                                                        class="icon-control-pause text" style="display:none"></i> </a>
                                                        <div class="clear text-ellipsis"> <span>{{ a.name }}</span> <span
                                                                        class="text-muted"> --
                                                                        {{5}}</span> </div>
                                                </li>

                                                {% endfor %}


                                        </ul>
                                </section>
                        </section>
                </aside> <!-- / side content -->
                <section class="col-sm-4 no-padder bg">
                        <section class="vbox">
                                <section class="scrollable hover">
                                        <ul id="songContainer" class="list-group list-group-lg no-bg auto m-b-none m-t-n-xxs">

                                                {% for s in song %}

                                                <li draggable="true" ondragstart="dragstart_handler(event);" pk={{s.pk}} name="{{s.name}}" pic="{{s.pic}}" onclick="playNow({{s.pk}})"  class="list-group-item clearfix ">
                                                         <a href="#"
                                                                class="jp-play-me pull-right m-t-sm m-l text-md "> <i
                                                                        class="icon-control-play text"></i>
                                                                <i onclick="controlpause.click();" class="icon-control-pause text" style="display:none" ></i> </a> <a
                                                                href="#" class="pull-left thumb-sm m-r"> <img
                                                                        src="{{s.pic}}" alt="..."> </a> <a
                                                                class="clear" href="#"> <span
                                                                        class="block text-ellipsis">{{s.name}}</span>
                                                                <small class="text-muted">by{{ s.author}}</small> </a>
                                                </li>

                                                {% endfor %}

                                        </ul>
                                </section>
                        </section>
                </section>
        </section>
</section>
